<div class="panel-body" >
	<label for="inputdescription" class="col-sm-2 control-label">File Attached</label>
	<div class="col-sm-10">
		<%@task.attachments.each do |attachment|%>
	
			<%if !attachment.new_record? && attachment.file.file%>
				<%=  link_to attachment.file.file.filename ,  attachment.file_url %>
				<%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe ,project_task_attachment_path(@project.id,@task.id , attachment.id) , :method => "delete" if show_delete.present?%></br>
			<%end%>
		<%end%>
	</div>
</div>  