<div class ="container">
  <h4>Task</h4>
  <% @tasks.each do |task| %>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= task.title%>
      </div>

        <!-- Table -->
        <table class="table">
          <tr><%= task.description%></tr>
          <tr><%= task.status %></tr>
        </table>
    </div>
  <% end %>
</div>
<br />

<%#= link_to 'New Post', new_post_path %>
