<div class = "center-text", id = "project">
	<h1> Project Management </h1>
	<%content_for :breadcrumb do %>
	  <ul class="breadcrumb">
    <li><%=link_to "Home" , homes_path%></li>
   </ul>
	<%end%>
</div>
  